body {
    font-family: 'Noto Serif', serif;
    margin-left: auto;
    margin-right: auto;
    max-width: 80ch;
    background-color: hotpink;
}

section, footer {
    background-color: pink;
    border-radius: 5px;
}

header {
    font-family: "Leckerli One", cursive, 'Noto Serif';
    font-weight: 400;
    color: white;
    text-align: center;
}

h1 {
    font-size: 6ch;
    margin-bottom: 0px;
}

header p {
    font-size: 2ch;
    margin-top: 0px;
    transform: rotate(-3deg);


    /* Legacy vendor prefixes that you probably don't need... */
  
    /* Safari */
    -webkit-transform: rotate(-3deg);
  
    /* Firefox */
    -moz-transform: rotate(-3deg);
  
    /* IE */
    -ms-transform: rotate(-3deg);
  
    /* Opera */
    -o-transform: rotate(-3deg);
}

p {
    padding: 0.5rem;
}

table, th, td {
    border-collapse: collapse;
    border: 3px solid;
    border-color: hotpink;
}

th {
    background-color: lightblue;
}

th, td {
    padding: 1rem;
}

.alphabet {
    font-family: Arial, Helvetica, sans-serif;
    font-size:x-large;
    font-weight: bold;
}

footer {
    margin-top: 2vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    text-align: center;
}