body {
    font-family: 'Noto Serif', serif;
    margin-left: auto;
    margin-right: auto;
    max-width: 80ch;
    background-color: hotpink;
}

section, footer {
    background-color: pink;
    border-radius: 5px;
}

h1 {
    text-align: center;
}

.glow {
    font-size: 80px;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }

p {
    padding: 0.5rem;
}

table, th, td {
    border-collapse: collapse;
    border: 3px solid;
    border-color: hotpink;
}

th {
    background-color: lightblue;
}

th, td {
    padding: 1rem;
}

.alphabet {
    font-family: Arial, Helvetica, sans-serif;
    font-size:x-large;
    font-weight: bold;
}

footer {
    margin-top: 2vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
    text-align: center;
}